[Desktop Entry]
Name=Keymapp
Comment=ZSA voyager keymap
Exec=keymapp
Icon=/home/pakin/.local/share/keymapp/icon.png
Terminal=false
Type=Application
Categories=Keyboard
